.gallery {
    display: flex;
    gap: 1em;
}

.gallery img{
    cursor: zoom-in;
}

.lightbox {
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.8);
}

.lightbox-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox-container {
    max-width: 100%;
}

.lightbox-content {
    position: relative;
  }
  
  .lightbox-close {
    position: absolute;
    top: -1em;
    right: -1em;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    font-size: 1.8em;
  }
  .lightbox-content .caption {
      text-align: center;
      color: white;
  }



